@model List<BikeCombination>

@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h3 class="display-4">Trek Bike Combinations</h3>
    <center>
        <form asp-controller="Home" asp-action="Index">
            <table>
                <tr>
                    <td>Combination</td>
                    <td>Count</td>
                </tr>
            </table>
            <hr />
        </form>
    </center>
    @if (Model != null && Model.Count > 0)
    {
        <table class="table table-bordered table-striped table-sm">
            <thead>
                <tr>
                    <th>Combination</th>
                    <th>Count</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Combination</td>
                        <td>@item.FamilyCount.ToString()</td>
                    </tr>
                }
            </tbody>
        </table>
    }

</div>